.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #FFFFFF;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.profile-head {
    font-weight: 600px;
    color: #0A3673BD;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

tbody {
    color : #79747E;
}
